<div class="search-area">
  <h4 class="search-title">Search users to follow!</h4>
  <%= form_tag search_user_path, remote: true, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <%= text_field_tag :first_name, params[:first_name], autofocus: true, placeholder:"First name", class:"form-control form-control-sm" %>
        <%= text_field_tag :last_name, params[:last_name], placeholder:"Last name", class:"form-control form-control-sm" %>
        <div class="input-group-append">
          <%= button_tag "Search", type: :submit, class:"btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>
    <small id="names-help" class="form-text text-muted"> * Please complete both to search.</small>
  </div>
  <% end %>
  <%= form_tag search_user_path, remote: true, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <%= text_field_tag :email, params[:email], autofocus: true, placeholder:"Email", class:"form-control form-control-sm" %>
        <div class="input-group-append">
          <%= button_tag "Search", type: :submit, class:"btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
